$color-primary: #0694ec;
$color-accent: #F15D51;
$color-tertiary: #FCFFE7;
$color-focus: rgb(0, 140, 255);
$color-overlay: #8080808e;
$color-gray: slategray;
$color-gray-light: #949aa1;
$color-gray-dark: #4f4f4f;
$color-black: black;
$color-white: white;

