<span class="logo">
  <a href="/">N.</a>
</span>

<style lang="scss">
  @import "../styles/_variables.scss";

  .logo {
    & a, a:link, a:visited {
      color: $color-blue-light;
      font-size: 3.6rem;
      font-family: "Arvo", serif;
      text-decoration: none;
    }
  }
</style>
